################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/dz2
*.sln
*.user
*.filters
*.vcxproj
