################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/dz2
*.sln
*.user
*.filters
*.vcxproj
/dz2/x64/Debug
/x64/Debug
/dz2/log.txt
*.obj
/dz2/dz2.exe
